.carousel-inner img {
	border-radius: 30px;
	max-width: 100%;
	margin: auto;
}
#gems_table img {
	padding: 0;
}
#gems_table td {
	text-align: left;
}
/* imported from bootstraps's starter-template */
body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#navbar {
	text-align: center;
}

ul.nav.navbar-nav {
	display: inline-block;
	float: none;
}
input#emailAddress.form-control input#emailSubject.form-control {
	width: 75%;
}