{{> header}}

<body>

{{> nav_bar}}

<div class="container">

  <div class="starter-template">
    <h1 class="jumbotron">Contact<br>Gems by Langdon</h1>
    <p class="lead">
    To get in touch with Gems by Langdon please fill out this form. Imagine also perhaps signing up to a mailing list here.

    {{> contact_us_form}}

    </p>
  </div>

</div><!-- /.container -->
