<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="About page">  
    <meta name="author" content="Richard Illing">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico"> <!-- TODO Replace! -->

    <title>Gems by Langdon Catalogue</title>

    {{#each STYLES}}
      <link href="./{{this}}" rel="stylesheet">
    {{/each}}

    <script src="./third-party/bootstrap/ie-emulation-modes-warning.js.download"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {{#each IE8}}
        <link href="./{{this}}" rel="stylesheet">
      {{/each}}
    <![endif]-->

  </head>
